@charset "UTF-8";
/* tipografia traida desde google fonts */
@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");
/* .protest-riot-regular {
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
  } */
/* variables*/
/*mixin para imagenes de cards*/
/*mixin para imagenes de encabezados de puntos fuertes*/
/* comienzo de hoja de estilo de acerca de voragine */
body {
  background-color: #C0BC9F;
}

/* estilos de la barra de navegacion */
.bg-body-tertiary {
  background-color: #F5F1EB !important;
  position: fixed;
  width: 100%;
  min-height: 80px;
}

.navbar-brand {
  font-family: "Protest Riot", sans-serif;
  color: #386641;
  background-color: #F5F1EB;
  margin-left: 20px;
}

.navbar-brand:hover {
  border-bottom: 3p solid black;
  transition: 0.3s;
  color: black;
}

.navbar-collapse {
  font-family: "Protest Riot", sans-serif;
  font-size: 19px;
  background-color: #F5F1EB;
}

.navbar-collapse :hover {
  border-bottom: 3p solid #386641;
  transition: 0.3s;
}

.navbar-collapse a:hover {
  color: #386641;
  border-bottom: 1px solid #386641;
}

.navbar-collapse a {
  color: black;
}

/* fin de estilo de la barra de navegacion */
/* inicio de estilo del contenido principal,compartida con acerca de voragine y staff de voragine */
.imagen {
  width: 350px;
  height: 450px;
  margin-top: 125px;
  border-radius: 50%;
  margin-bottom: 30px;
  margin-left: 20px;
}

/* anidacion clase texto y h1 */
.texto {
  width: 100%;
  height: 100%;
  font-family: "Times New Roman", Times, serif;
  padding: 20px;
  font-size: 19px;
  margin-left: 10px;
  letter-spacing: 2px;
}
.texto h1 {
  color: #386641;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 100px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.texto a {
  color: white;
  text-decoration: none;
}
.texto a:hover {
  border-bottom: 3p solid black;
  transition: 0.3s;
  color: #386641;
}

/* fin de estilo del contenido principal */
/* seccion secundaria*/
/* seccion coleccion */
.section-coleccion {
  text-transform: uppercase;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #386641;
  font-size: 19px;
  margin-top: 100px;
}

/* anidacion clase coleccion  */
.coleccion {
  margin-top: 40px;
  padding: 20px;
}
.coleccion .img1 {
  width: 200px;
  height: 250px;
}
.coleccion .parrafo-coleccion {
  font-family: "Times New Roman", Times, serif;
  color: black;
}
.coleccion a {
  color: white;
  text-decoration: none;
}
.coleccion a:hover {
  border-bottom: 3p solid black;
  transition: 0.3s;
  color: #386641;
}

/* fin seccion coleccion */
/* seccion comunidad*/
.comunidad {
  text-transform: uppercase;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #386641;
  font-size: 19px;
  margin-top: 100px;
}

/* anidacion clase cliente*/
.cliente {
  margin-top: 50px;
}
.cliente .cliente-2 {
  width: 200px;
  height: 250px;
}
.cliente .parrafo-cliente {
  font-family: "Times New Roman", Times, serif;
  color: black;
  font-size: 19px;
}
.cliente a {
  color: white;
  text-decoration: none;
}
.cliente a:hover {
  border-bottom: 3p solid black;
  transition: 0.3s;
  color: #386641;
}

/* fin seccion comunidad */
/* fin seccion secundaria */
/* conatiner de imagenes para seccion inicio y compartida con seccion taller */
/* anidacion clase encabezado-galeria */
.encabezado-galeria {
  margin-top: 60px;
}
.encabezado-galeria h3 {
  text-align: center;
  text-transform: uppercase;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #386641;
}
.encabezado-galeria p {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 19px;
}

/* anidacion clase galeria */
.galeria .col-lg-4 {
  padding: 25px;
  margin: 0 !important;
}
.galeria img {
  width: 100%;
  height: 350px;
}

/* fin de container de imagenes */
/* incio de estilo del footer */
footer {
  background-color: #312123;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 30px;
  margin-top: 50px;
}

.redes a {
  color: white;
  text-decoration: none;
  letter-spacing: 10px;
  font-size: 50px;
}

.whats {
  height: 45px;
  width: 45px;
  background-color: springgreen;
  position: fixed;
  bottom: 40px;
  right: 40px;
  text-align: center;
  color: white;
  line-height: 40px;
  font-size: 30px;
  border-radius: 50%;
  box-shadow: 0 0 5 3px white;
}

/* fin de estilo del footer */
/* inicio de estilo para la pagina puntos fuertes */
.encabezado-puntosfuertes {
  text-align: center;
  margin-top: 120px;
  text-transform: uppercase;
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  padding: 20px;
  letter-spacing: 5px;
  text-decoration: underline;
}

/* inicio encabezado mision */
/* anidacion clase texto-mision */
.texto-mision h2 {
  color: #386641;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 80px;
  margin-bottom: 1px;
  text-transform: uppercase;
  margin-left: 12px;
  text-decoration: underline;
}
.texto-mision p {
  width: 100%;
  height: 100%;
  font-family: "Times New Roman", Times, serif;
  padding: 20px;
  font-size: 19px;
  letter-spacing: 2px;
  border-radius: 50%;
  margin-left: -5px;
}

/* fin estilo encabezado mision */
/* incio encabezado pasion */
/* anidacion clase texto-pasion */
.texto-pasion h2 {
  color: #386641;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 80px;
  margin-bottom: 1px;
  text-transform: uppercase;
  text-decoration: underline;
  margin-left: 16px;
}
.texto-pasion p {
  width: 100%;
  height: 100%;
  font-family: "Times New Roman", Times, serif;
  padding: 20px;
  font-size: 19px;
  letter-spacing: 2px;
}

/* fin encabezado pasion */
/* inicio encabezado diseño */
/* anidacion clase texto-diseño */
.texto-diseño h2 {
  color: #386641;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 80px;
  margin-bottom: 1px;
  text-transform: uppercase;
  text-decoration: underline;
  margin-left: 16px;
}
.texto-diseño p {
  width: 100%;
  height: 100%;
  font-family: "Times New Roman", Times, serif;
  padding: 20px;
  font-size: 19px;
  letter-spacing: 2px;
}

/* fin encabezado diseño */
/* inicio encabezado soporte */
/* anidacion clase texto-soporte*/
.texto-soporte h2 {
  color: #386641;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 80px;
  margin-bottom: 1px;
  text-transform: uppercase;
  text-decoration: underline;
  margin-left: 16px;
}
.texto-soporte p {
  width: 100%;
  height: 100%;
  font-family: "Times New Roman", Times, serif;
  padding: 20px;
  font-size: 19px;
  letter-spacing: 2px;
}

/* fin encabezado soporte */
/*imagen mision */
.imagen-mision {
  width: 400px;
  height: 350px;
  margin-top: 80px;
  border-radius: 50%;
  margin-left: -5px;
}

/*imagen pasion*/
.imagen-pasion {
  width: 400px;
  height: 350px;
  margin-top: 80px;
  border-radius: 50%;
  margin-left: -5px;
}

/*imagen diseño*/
.imagen-diseño {
  width: 400px;
  height: 350px;
  margin-top: 80px;
  border-radius: 50%;
  margin-left: -5px;
}

/*imagen soporte */
.imagen-soporte {
  width: 400px;
  height: 350px;
  margin-top: 80px;
  border-radius: 50%;
  margin-left: -5px;
}

/* fin de estilos de la pagina puntos fuertes*/
/* inicio de estilo para la pagina taller */
.imagen-taller {
  width: 350px;
  height: 450px;
  margin-top: 60px;
  border-radius: 20%;
  margin-bottom: 30px;
  margin-left: 10px;
}

.texto-taller h1 {
  color: #386641;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 80px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.texto-taller {
  font-family: "Times New Roman", Times, serif;
  padding: 20px;
  font-size: 19px;
  margin-left: 100px;
  letter-spacing: 2px;
  margin-left: -5px;
}

/* fin de la seccion taller */
/* seccion preparacion */
/* encabezado preparacion*/
/* anidacion clase encabezado-preparacion */
.encabezado-preparacion {
  margin-top: 60px;
}
.encabezado-preparacion h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #386641;
}
.encabezado-preparacion p {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 19px;
}

/* fin encabezado preparacion*/
/* fin de seccion preparacion */
/* fin de estilo para la pagina taller */
/* inicio de estilo para la pagina productos */
.encabezado-productos {
  text-align: center;
  margin-top: 120px;
  text-transform: uppercase;
  color: #386641;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  padding: 20px;
  letter-spacing: 5px;
  text-decoration: underline;
}

.texto-productos {
  font-family: "Times New Roman", Times, serif;
  padding: 20px;
  font-size: 19px;
  margin-left: 100px;
  letter-spacing: 2px;
  margin-left: -5px;
}

/* estilos  de cards*/
.cards {
  width: 300px;
  height: 800px;
  background-color: #F5F1EB;
  text-align: center;
  margin-left: 20px;
  margin-bottom: 50px;
  border: solid #386641 2px;
}

.cards-title {
  color: black;
  padding: 10px;
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: underline;
}

.cards-desc {
  margin-top: 20px;
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: 19px;
}

.cards-redes a {
  color: black;
  text-decoration: none;
  letter-spacing: 10px;
  font-size: 50px;
}

.a {
  font-size: 19px;
  font-family: "Times New Roman", Times, serif;
}

/*fin de estilos de cards */
/*imagen card 1 */
.card-img1 {
  height: 350px;
  background-image: url(../imagenes/cartucheras.jpg);
  background-size: cover;
  background-position: center;
}

/*imagen card 2 */
.card-img2 {
  height: 350px;
  background-image: url(../imagenes/mochila.jpeg);
  background-size: cover;
  background-position: center;
}

/*imagen card 3 */
.card-img3 {
  height: 350px;
  background-image: url(../imagenes/set-matero.jpeg);
  background-size: cover;
  background-position: center;
}

/*imagen card 4 */
.card-img4 {
  height: 350px;
  background-image: url(../imagenes/almohada-cervvical.jpg);
  background-size: cover;
  background-position: center;
}

/*imagen card 5*/
.card-img5 {
  height: 350px;
  background-image: url(../imagenes/billetera.jpg);
  background-size: cover;
  background-position: center;
}

/*imagen card 6*/
.card-img6 {
  height: 350px;
  background-image: url(../imagenes/cartuchera-gliter.jpeg);
  background-size: cover;
  background-position: center;
}

/*imagen card 7 */
.card-img7 {
  height: 350px;
  background-image: url(../imagenes/porta-cosmeticos.jpeg);
  background-size: cover;
  background-position: center;
}

/*imagen card 8 */
.card-img8 {
  height: 350px;
  background-image: url(../imagenes/folio-a4.jpg);
  background-size: cover;
  background-position: center;
}

/*imagen card 9 */
.card-img9 {
  height: 350px;
  background-image: url(../imagenes/scrunchines.jpeg);
  background-size: cover;
  background-position: center;
}

/*fin de imagenes de cards */
/*video*/
.texto-video {
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  text-decoration: underline black;
  margin-top: 60px;
  margin-left: 40px;
}

.video {
  width: 400px;
  height: 350px;
  border-radius: 10%;
  margin-top: 30px;
}

/*comienzo de la seccion de estilos de la pagina contacto*/
/*encabezado contacto*/
.encabezado-contacto {
  text-align: center;
  margin-top: 120px;
  text-transform: uppercase;
  color: #386641;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  padding: 20px;
  letter-spacing: 5px;
  text-decoration: underline;
}

.parrafo-contacto {
  font-family: "Times New Roman", Times, serif;
  padding: 20px;
  font-size: 19px;
  margin-left: 100px;
  letter-spacing: 2px;
  text-align: center;
  margin-left: -5px;
}

/* anidacion clase redes-formulario */
.redes-formulario a {
  text-decoration: none;
  letter-spacing: 10px;
  font-size: 50px;
  color: black;
  margin-left: 46%;
}
.redes-formulario i:hover {
  transform: scale(1.2);
}

/*formulario*/
/* anidacion clase formulario */
.formulario {
  text-align: center;
}
.formulario label {
  color: black;
  font-family: "Times New Roman", Times, serif;
}
.formulario .enviar {
  width: 100%;
  background: #F5F1EB;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #386641;
  font-family: "Times New Roman", Times, serif;
  font-size: 19px;
  color: black;
}
.formulario .enviar:hover {
  transform: scale(1.1);
}

.form-register {
  width: 400px;
  background: #F5F1EB;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: "Times New Roman", Times, serif;
  color: white;
  box-shadow: 7px 13px 37px black;
}

.controls {
  width: 100%;
  background: #F5F1EB;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #386641;
  font-family: "Times New Roman", Times, serif;
  font-size: 19px;
  color: black;
}

/*# sourceMappingURL=estilo.css.map */
